
.nav ul{
width:100%;
max-width: 960px;
margin:0px auto;
height:38px;
padding:0;
}
.nav ul li{
float:left;
list-style:none;
}
.nav ul li a{
width:80px;
height:28px;
line-height:28px;
background:black;
color:white;
margin:5px 10px;
font-size:12px;
display:block;
text-align:center;
text-decoration:none;
}
.nav ul li a.social{
width:80px;
height:28px;
line-height:28px;
/*background:white;*/
/*color:white;*/
margin:5px 10px;
font-size:12px;
display:block;
text-align:center;
text-decoration:none;
}
.nav ul li a:hover{
width:78px;
height:26px;
line-height:28px;
border:1px solid red;
color:red;
background:#FFF;
}

.nav hr{
width:100%;
max-width: 960px;
}

a.home{
    margin-left: 30px;
}