<div class="nav">
 <ul>
   <li><a href="http://rolinyan.github.io/">Home</a></li>
   <li><a href="#">Life</a></li>
   <li><a href="http://rolinyan.github.io/ruby_recipes/">Ruby</a></li>
   <li><a href="http://rolinyan.github.io/rails_recipes/">Rails</a></li>
   <li><a href="http://rolinyan.github.io/js_recipes/">Javascript</a></li>
<!--    <li><a href="http://rolinyan.github.io/js_recipes/">Node.js</a></li>
   <li><a href="http://rolinyan.github.io/js_recipes/">Javascript</a></li>
   <li><a href="http://rolinyan.github.io/js_recipes/">Javascript</a></li>
   <li><a href="http://rolinyan.github.io/js_recipes/">Javascript</a></li> -->
 </ul>
</div>